.gift-pop{
    min-width: 100vh;
    min-height: 50vh;
    background-image: url('https://images.unsplash.com/photo-1512909006721-3d6018887383?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: glow-pop 4s infinite alternate; */
 
}
 
@keyframes glow-pop {
    0% {
        box-shadow: 0px 0px 200px rgb(126, 33, 49);
    }
    50% {
        box-shadow: 0px 0px 100px rgb(243, 5, 45);
 
    }
    100% {
        box-shadow: 0px 0px 0px rgb(223, 100, 121);
 
    }
}
 
.cross{
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: 900;
    font-size: 1rem;
}