.main{
    height: 40px;
    background-color: green;
    display: flex;
    justify-content: space-between;

}
.one{
    width: 30%;
    display: flex;
    align-items: center;
   
}
.oneinner{
width: 50%;

color: rgb(12, 12, 12);
font-size: larger;
position: relative;
left: 30px;
}