.nav2{
    height: 60px;
    background-color: rgb(229, 237, 229);
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0px;
}
.nav21{
    width:15%;
    display: flex;
    align-items: center;
    
   
}
.nav22{
    width:60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
   
}.nav23{
    width:15%;
    display: flex;
    align-items: center;
   
}
.nav22>span>input{
    width:250px;
    height:30px;
    border-radius: 8px;
    border: none;
}